<% content_for(:title) { @console.name } %>

<h2 class="title is-3">Games on the <%= @console.name %></h2>

<p class="mb-5">
  There were <%= @console.games.count %> different games made for the <%= @console.name %> from 2004 - 2008.
</p>

<div class="content">
    <ol start="<%= (@games.current_page - 1) * @games.limit_value + 1 %>">
        <% @games.each do |game| %>
            <li><%= link_to game.title, game %></li>
        <% end %>
    </ol>
</div>

<%= paginate @games %>
