<h2 class="title is-3">Games published by <%= @publisher.name %></h2>

<p class="mb-5"><%= @publisher.name %> made <%= @publisher.games.count %> different games from  2004 - 2008.</p>

<h3 class="title is-5">Games made by <%= @publisher.name %></h3>

<div class="content">
  <ul>
    <% @publisher.games.each do |game| %>
      <li>
        <%= link_to game.title, game %> on the <%= game.consoles.map { |console| link_to console.name, console }.to_sentence.html_safe %>
      </li>
    <% end %>
  </ul>
</div>
