<p style="color: green"><%= notice %></p>

<% if @page.present? %>
  <%= render @page %>
<% else %>
  <p style="color: red">Page not found.</p>
<% end %>

<div>
  <% if @page.present? %>
    <%= link_to "Edit this page", edit_page_path(@page) %>
    <%= button_to "Destroy this page", @page, method: :delete %>
  <% end %>
  
  <%= link_to "Back to pages", pages_path %>
</div>
