<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Video Game Freak" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold" href="<%= root_path %>">
          Video Game Freak
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasic" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="<%= games_path %>">
            Games
          </a>
          <a class="navbar-item" href="<%= publishers_path %>">
            Publishers
          </a>
          <a class="navbar-item" href="<%= consoles_path %>">
            Consoles
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <form class="field has-addons" action="/search" method="get">
              <div class="control">
                <input class="input" type="text" name="q" placeholder="Search">
              </div>
              <div class="control">
                <button class="button is-primary" type="submit">
                  Search
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <%= render partial: "common/footer" %>

    <!-- Script for the hamburger menu -->
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const burgers = document.querySelectorAll('.navbar-burger');
        burgers.forEach(burger => {
          burger.addEventListener('click', () => {
            const target = document.getElementById(burger.dataset.target);
            burger.classList.toggle('is-active');
            target.classList.toggle('is-active');
          });
        });
      });
    </script>
  </body>
</html>
